<!DOCTYPE html>
<html>
<head>
  <title>Elasticsearch + Angular Example</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<!-- boot angular with the ExampleApp module -->
<body ng-app="ExampleApp">
  <div id = "main">
	  <form id = "theForm">
        <fieldset>
		  <legend>Check List </legend>

			<div>
			<label for = "">Task </label>
			<input type = "text" name = "task" value = "" id = "task">
			</div>
			<div>
			<input type = "submit" value = "Add" id ="submit">
			</div>
		</fieldset>
			<div id = "list">
			</div>
	  </form>
  </div>
  <div>
	<h1>關鍵字:</h1><h1 id="keyword"></h1>
  </div>
  <!-- attach the ExampleController to our main content -->
  <div ng-controller="ExampleController" class="container">
    <h1>Angular + Elasticsearch+test~~~~~</h1>

    <!-- if there is an error, display its message -->
    <div ng-if="error" class="alert alert-danger" role="alert">{{error.message}}</div>

    <!-- if clusterState is available, display it as formatted json -->
    <div ng-if="clusterState" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cluster State</h3>
      </div>
      <div class="panel-body">
        <pre>{{clusterState | json}}</pre>
      </div>
    </div>
  </div>
  
  <!-- include bower components in proper order -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
  <script src="bower_components/elasticsearch/elasticsearch.js"></script>
  <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script> -->
  <!-- app code starts is here -->

  <script>
    //在一開始就先和elasticsearch連接
  
	var ExampleApp = angular.module('ExampleApp', ['elasticsearch']);
	ExampleApp.service('client', function (esFactory) {
	  return esFactory({
		host: 'http://10.120.30.17:9200',
		apiVersion: '2.1',
		log: 'trace'
	  });
	});

	ExampleApp.controller('ExampleController', function ($scope, client, esFactory) {

	  client.cluster.state({
		metric: [
		  'cluster_name',
		  'nodes',
		  'master_node',
		  'version'
		]
	  })
	  .then(function (resp) {
		$scope.clusterState = resp;
		$scope.error = null;
	  })
	  .catch(function (err) {
		$scope.clusterState = null;
		$scope.error = err;

		if (err instanceof esFactory.errors.NoConnections) {
		  $scope.error = new Error('Unable to connect to elasticsearch. ' +
			'Make sure that it is running and listening at http://10.120.30.17:9200');
		}
	  });

	});
	
	//定義變數 (後面query會用到的)
	var client = new elasticsearch.Client({
	    host: 'http://10.120.30.17:9200',
	    log: 'trace'
	});
	
	function GetUnique(inputArray) {

		var outputArray = [];

		for (var i = 0; i < inputArray.length; i++) {

			if ((jQuery.inArray(inputArray[i], outputArray)) == -1) {

			outputArray.push(inputArray[i]);
			}

		}

		return outputArray;

	}
	
	function doFirst(){ 
		document.getElementById('theForm').onsubmit = addList;

	}
	//當表單submit的時候，開始動作
	
	//將關鍵字print出來，並且去ES query 
	function addList(){
		var temp=[];
		//var otherword=[];
		var task = document.getElementById('task').value;
		document.getElementById('keyword').innerHTML = task;
		client.search({
			  index: 'twitter',
			  type: 'tweet',
			  body: {
				"query": {
				  "match_phrase": {"keyword":task}
				}
			  }
		}).then(function (resp) {
			var hits = resp.hits.hits;
			var otherword=[];
			for (var x = 0; x<hits.length;x++){
				//otherword.push(hits[x]['_source']['keyword']);
				for (var num in hits[x]['_source']['keyword']){
					otherword.push(hits[x]['_source']['keyword'][num]);
				}
				
				for (var qq in hits[x]['_source']['number']){
					temp.push(hits[x]['_source']['number'][qq]);
				}
		
			}
			
			printOtherword(GetUnique(otherword));
			//呼叫另一個function做第二次的query
			doSecond(GetUnique(temp));
		}, function (err) {
			console.trace(err.message);
		});	
		return false;	
	}
	function doSecond(testtemp){
		client.search({
			  index: 'henry',
			  type: 'ray',
			  body: {
				"query": {
				  "terms": {"_id":testtemp}
				}
			  }
		}).then(function (resp) {
			if ($('#content').length > 0 ){
				$('#content').remove();
			} 

			$('#bigWrapper').append('<div id= "content"></div>');
			var QQ = resp.hits.hits;
			
			for (var num in QQ){
				var ids = QQ[num]['_id'];
				var title = QQ[num]['_source']['title'];
				var claim = QQ[num]['_source']['claim'];
				$('#content').append('<h1>'+ids+'</h1>');
				$('#content').append('<h2>'+title+'</h2>');
				$('#content').append('<h6>'+claim+'</h6>');
			}	
				
			
				
		}, function (err) {
			console.trace(err.message);
		});	
	}
	function printOtherword(otherword){
		document.getElementById('otherword').innerHTML = otherword;
	}
	window.addEventListener('load',doFirst,false);  
	
  </script>
  <div>
	其他關鍵字:<h1 id="otherword"></h1>
  </div>
  <div id = "bigWrapper">

	<!-- <h1 id="ids"></h1>
	<h2 id="title"></h2>
	<h6 id="claim"></h6> -->

	
  </div>
</body>
</html>