<!DOCTYPE html>
<html>
 	<head>
     	<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/normalize.css">
		<script src="../js/jquery.js"></script>
		<title>PatentSearch</title>
		<link rel="icon" href="../img/PatentSearch_icon.png" type="image/gif" sizes="16x16">
	</head>
	<body>
		<div id="wrapper">
			<header>
				<div id="logo">
					<a href="http://10.120.30.18:8124/Search.html">
						<img src="../img/PatentSearch_logo.png" height="80"alt="Logo">
					</a>
				</div>
				<!-- <div id="welcome">
					<p>訪客您好</p>
				</div>
				<div id="signin">
					<p>註冊</p>
				</div>
				<div id="login">
					<p>登入</p>
				</div> -->
			</header>
			<section>
				<div id="PatentImg">
					<img src="../img/PatentSearch_patent.png" height="160" width="1000" alt="Patentimg">
				</div>
				<div id="Ad_copy">
					<p>
						您是否曾花費大筆經費研發專利，但直到申請專利時，才發現原來已經被申請<br>
						過，所以的心血在一夕之間都白費了，如果在申請之前能先查詢過，便能判斷<br>
						是否值得投注大量的經費，這套工具便是因此而研發的，藉由簡易的關鍵字搜<br>
						尋，便能快速的搜尋到已申請過的專利文章。
					</p>
				</div>
				<div id="PatentButton">
					<img src="../img/PatentSearch_button.png" height="75" width="75" alt="">
				</div>
				<div id="Link">
					<a href="http://10.120.30.18:8124/Search.html">點此進入網站</a>
				</div>
			</section>
			<footer>
				<div>
					<p>Copyright &copy; 2015 <strong id="PatentColor">Patent</strong>Search. All rights reserved.</p>
				</div>
			</footer>
			</div>
	</body>
</html>
<!--template.html-->
