<!DOCTYPE html>
<html>
 	<head>
     	<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/normalize.css">
		<script src="../js/jquery.js"></script>
		<title>PatentView</title>
		<style type="text/css">
		
		</style>
		<link rel="icon" href="../img/PatentSearch_icon.png" type="image/gif" sizes="16x16">
	</head>
	<body>
		<div id="WrapperSearch">
			<header>
				<div id="logo">
					<a href="PatentSearch.html">
						<img src="../img/PatentSearch_logo.png" height="80"alt="Logo">
					</a>
				</div>
			</header>
			<section id="PatentSort">
				<div class="radio">
					<h3>專利種類</h3>
					  	<div class="radio">
					  	<input type="radio" id="O" name="Sort">
				    	<label for="O">1-50</label>

					   	<input type="radio" id="P" name="Sort">
				    	<label for="P">50-100</label>

				    	<input type="radio" id="Q" name="Sort">
				    	<label for="Q">100-200</label>

				</div>
			</section>
			<aside  id="PatentTable">
				<div>
					<h4>您的檢索關鍵字為</h4>
					<table border="1" width="600" id="TableView">
						<tr>
						  <td>1</td>
						  <td>專利編號</td>
						  <td>I505962</td>
						  <td>公告/公開日</td>
						  <td>2015/11/01</td>
						  <td>專利名稱</td>
						  <td>速克達型機車的引擎吊架</td>
						</tr>
						<tr>
						  <td colspan="7" align="left"><strong>內文</strong>本發明係有關於一種速克達型機車的引擎吊架，該引擎吊架包括有：一第一支撐單元，該第一支撐單元至少具有車架鎖付部及套合部，該車架鎖付部內設有軸襯套組；一第二支撐單元，該第二支撐單元至少具有車架鎖付部及套合部，該車架鎖付部的容置孔內設有軸襯套組；一第三支撐單元，至少具有一定位套筒，該第三支撐單元係連結於第一支撐單元之套合.....</td>
						</tr>
							<tr>
						  <td>1</td>
						  <td>專利編號</td>
						  <td>I505962</td>
						  <td>公告/公開日</td>
						  <td>2015/11/01</td>
						  <td>專利名稱</td>
						  <td>速克達型機車的引擎吊架</td>
						</tr>
						<tr>
						  <td colspan="7" align="left"><strong>內文</strong>本發明係有關於一種速克達型機車的引擎吊架，該引擎吊架包括有：一第一支撐單元，該第一支撐單元至少具有車架鎖付部及套合部，該車架鎖付部內設有軸襯套組；一第二支撐單元，該第二支撐單元至少具有車架鎖付部及套合部，該車架鎖付部的容置孔內設有軸襯套組；一第三支撐單元，至少具有一定位套筒，該第三支撐單元係連結於第一支撐單元之套合.....</td>
						</tr>
							<tr>
						  <td>1</td>
						  <td>專利編號</td>
						  <td>I505962</td>
						  <td>公告/公開日</td>
						  <td>2015/11/01</td>
						  <td>專利名稱</td>
						  <td>速克達型機車的引擎吊架</td>
						</tr>
						<tr>
						  <td colspan="7" align="left"><strong>內文</strong>本發明係有關於一種速克達型機車的引擎吊架，該引擎吊架包括有：一第一支撐單元，該第一支撐單元至少具有車架鎖付部及套合部，該車架鎖付部內設有軸襯套組；一第二支撐單元，該第二支撐單元至少具有車架鎖付部及套合部，該車架鎖付部的容置孔內設有軸襯套組；一第三支撐單元，至少具有一定位套筒，該第三支撐單元係連結於第一支撐單元之套合.....</td>
						</tr>
						<a href="https://www.youtube.com/watch?v=XGGNwDocZWU&index=24&list=PLQBUSxZfAKlMVYAYboTA61mP8rpHxMjJi">先別管專利了，有聽過李榮浩嗎?</a>
					</table>
				</div>
			</aside>
			<footer>
				<div>
					<p>Copyright &copy; 2015 <strong id="PatentColor">Patent</strong>Search. All rights reserved.</p>
				</div>
			</footer>
		</div>
	</body>
</html>
<!--template.html-->
